@page "/Htmx"
@model TemplateProject.WebApi.Htmx.Areas.Htmx.Pages.Index

<div>
    <label class="form-label">Username</label>
    <input class="form-control"/>
    <label class="form-label"></label>
    <input class="form-control"/>
</div>