@page "/Htmx"
@model TemplateProject.WebApi.Htmx.Areas.Htmx.Pages.Index

@if (!Model.IsLoggedIn)
{
    <div>
        <div hx-get hx-page-handler="LoginForm" hx-trigger="load" hx-swap="outerHTML"></div>
    </div>   
}
else
{
    <div>
        Welcome!
    </div>
}
