@page "/Htmx"
@model TemplateProject.WebApi.Htmx.Areas.Htmx.Pages.Landing.Index

@if (!Model.IsLoggedIn)
{
    <div>
        <div hx-get hx-page-handler="LoginForm" hx-trigger="load" hx-swap="outerHTML"></div>
    </div>   
}
else
{
    <div>
        <h3>Books</h3>
        <button class="btn btn-primary btn-sm" hx-get hx-page="Books/Index">View Books</button>
    </div>
}
