@page "/Htmx/Books"
@model TemplateProject.WebApi.Htmx.Areas.Htmx.Pages.Books.Index

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.PageTitle;
}
<title> @Model.PageTitle </title>
<h3>Books</h3>
<div id="book-container">
    <button class="btn btn-primary btn-sm" hx-get hx-page-handler="BookList" hx-target="#book-container">Get Book</button>
</div>