@model TemplateProject.WebApi.Htmx.Areas.Htmx.Pages.Books.Components.BookList

<button class="btn btn-primary btn-sm" hx-get hx-page-handler="BookList" hx-target="#book-container">Get Book</button>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Title</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.Books)
    {
        <tr>
            <td>
                <a hx-get="" hx-page-handler="EditBook">Edit</a>
            </td>
            <td>@book.Title</td>
            <td>@book.Author</td>
        </tr>
    }
    </tbody>
</table>