@using TemplateProject.WebApi.Htmx.Areas.Htmx.Pages.Books.Components
@model TemplateProject.WebApi.Htmx.Areas.Htmx.Pages.Books.Components.BookList

<button class="btn btn-primary btn-sm" hx-get hx-page-handler="BookList" hx-target="#book-container">Get Book</button>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Title</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.Books)
    {
        var viewModel = new EditRowModel(book);
        <partial name="Components/_EditRow" model="viewModel"/>
    }
    </tbody>
</table>