@page
@using Microsoft.AspNetCore.Hosting
@using TemplateProject.WebApi.React.Extensions
@inject IWebHostEnvironment Environment
@model TemplateProject.WebApi.React.Areas.React.Pages.Index

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/_content/TemplateProject.WebApi.React/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React + TS</title>
    @Environment.RenderStyles("src/main.tsx")
</head>
<body>
<div id="root"></div>
</body>
@Environment.RenderScripts("src/main.tsx")
</html>